<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itdr.mapper.ItdrProductMapper" >
  <resultMap id="BaseResultMap" type="com.itdr.pojo.ItdrProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="pnum" property="pnum" jdbcType="INTEGER" />
    <result column="pimages" property="pimages" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="categoryId" property="categoryid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pname, price, pnum, pimages, create_time, update_time, categoryId
  </sql>

  <!--根据id查询商品数据-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from itdr1_product
    where id = #{productId,jdbcType=INTEGER}
  </select>

  <!--根据商品名模糊查询-->
  <select id="selectByName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from itdr1_product
    where pname like #{keyWord}
  </select>

  <select id="selectByNameAndOrderBy" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from itdr1_product
    where pname like #{keyWord}
    <if test="filed != null ">
      order by #{filed}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from itdr1_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itdr.pojo.ItdrProduct" >
    insert into itdr1_product (id, pname, price, 
      pnum, pimages, create_time, 
      update_time, categoryId)
    values (#{id,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{pnum,jdbcType=INTEGER}, #{pimages,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{categoryid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.itdr.pojo.ItdrProduct" >
    insert into itdr1_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="pnum != null" >
        pnum,
      </if>
      <if test="pimages != null" >
        pimages,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="categoryid != null" >
        categoryId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="pnum != null" >
        #{pnum,jdbcType=INTEGER},
      </if>
      <if test="pimages != null" >
        #{pimages,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itdr.pojo.ItdrProduct" >
    update itdr1_product
    <set >
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="pnum != null" >
        pnum = #{pnum,jdbcType=INTEGER},
      </if>
      <if test="pimages != null" >
        pimages = #{pimages,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryid != null" >
        categoryId = #{categoryid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itdr.pojo.ItdrProduct" >
    update itdr1_product
    set pname = #{pname,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      pnum = #{pnum,jdbcType=INTEGER},
      pimages = #{pimages,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      categoryId = #{categoryid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>